/node_modules
/vendor
.git
.gitignore
.env
.env.*
!.env.example
/storage
bootstrap/cache/*
public/build
public/hot
.phpunit.result.cache
npm-debug.log
docker-compose.yml
docker-compose.prod.yml
Dockerfile
Dockerfile.prod
README.md
