includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - config
        - database
        - routes

    level: 8

    excludePaths:
        - database/migrations/*.php
        - app/Services/ImapInboundMailFetcher.php

    checkOctaneCompatibility: false

    ignoreErrors:
        -
            message: '#Property ''human_size'' does not exist in model#'
            path: app/Models/TicketAttachment.php
